.gallery {

  &__carousel {
    margin: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin: 0;
    @include font-setting(400, 46px, 46px);
  }

  &__button {
    @include button-reset(42px, 34px);
  }

  &__button:hover {
    opacity: .6;
    transition: opacity .4s ease;
    cursor: pointer;
  }

  &__button_type_left {
    background-image: url(../../images/arrow_left.svg);
    background-size: cover;
  }

  &__button_type_right {
    background-image: url(../../images/arrow_right.svg);
    margin-left: 27px;
    background-size: cover;
  }

}

@media screen and (max-width: map-get($width-page , 'tablet')) {
  .gallery {
    padding: 0 20px;

    &__picture {
      margin: 35px auto 0;
      max-width: 700px;
    }

    &__carousel {
      margin: 36px 30px 50px;
    }
  }
}

@media screen and (max-width: map-get($width-page , 'mini-mobile')) {
  .gallery {
    &__title {
      @include font-setting(400, 26px, 26px);
    }

    &__carousel {
      margin: 45px 0 20px;
    }

    &__button {
      @include button-reset(24px, 20px);
    }

    &__picture {
      margin: 19px auto 0;
    }

    &__button_type_right {
      margin-left: 15px;
    }
  }
}
