.topic__button {
  margin: 62px 0 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  width: 360px;
  height: 64px;
  border: 1px solid #E1FD2C;
  box-sizing: border-box;
}

.topic__button:hover {
  cursor: pointer;
  background: #E1FD2C;
  color: #191D2C;
  font-weight: 600;
  transition: background .3s ease;
}
