.info__link {
  border: 1px solid #E1FD2C;
  width: 110px;
  height: 52px;
  color: #E1FD2C;
  border-radius: 100px / 50px;
  text-decoration: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}


.info__link:hover {
  cursor: pointer;
  background-color: #E1FD2C;
  color: #191D2C;
  transition: background-color .3s ease;
}
