.info__button-press {
  padding: 0;
  border: none;
  background-color: transparent;
  width: 12px;
  height: 12px;
  background-image: url(../../../images/button-check.svg);
  padding-right: 24px;
  background-repeat: no-repeat;
}

.info__button-press:hover {
  cursor: pointer;
}
